

/* Miscellaneous */


.clearfix:after {
    content:"";
    display:table;
    clear:both;
    }

.clickable {
    cursor: pointer;
    cursor: hand;
    }

.hidden { display: none; }

.hidden-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    }

.bg-yellow { background: #ff0; }

.cl-red { color: #d00; }
.cl-blue { color: #0b5394; }
.cl-green { color: #060; }

.ta-center { text-align: center; }
.ta-justify { text-align: justify; }
.ta-left { text-align: left; }
.ta-right { text-align: right; }


/* Rich-text */

.rich-text I, .rich-text EM { font-style: italic; }
.rich-text B, .rich-text STRONG { font-weight: bold; }

.rich-text BIG { font-size: 115%; }
.rich-text SMALL { font-size: 85%; }

.rich-text UL {
    padding: 0;
    margin: 1.5em 0 1.5em 2em;
    }

    .rich-text UL LI {
        line-height: 1.5em;
        list-style: outside disc;
        margin: .5em 0;
        }

.rich-text UL.check { margin: 1em 0; }

    .rich-text UL.check LI {
        list-style: outside none;
        text-indent: 0 !important;
        background-image: url(../i/zhtml/ul-check-green.png);
        background-position: 0 .35em;
        background-repeat: no-repeat;
        padding: 3px 0 3px 30px;
        }

    .rich-text UL.check.blue LI { background-image: url(../i/zhtml/ul-check-blue.png); }
    .rich-text UL.check.green LI { background-image: url(../i/zhtml/ul-check-green.png); }
    .rich-text UL.check.red LI { background-image: url(../i/zhtml/ul-check-red.png); }

.rich-text UL.cross { margin: 1em 0; }

    .rich-text UL.cross LI {
        list-style: outside none;
        background-image: url(../i/zhtml/ul-cross-red.png);
        background-position: 0 .35em;
        background-repeat: no-repeat;
        padding: 3px 0 3px 30px;
        }

    .rich-text UL.cross.gray LI { background-image: url(../i/zhtml/ul-cross-gray.png); }
    .rich-text UL.cross.pink LI { background-image: url(../i/zhtml/ul-cross-pink.png); }
    .rich-text UL.cross.red LI { background-image: url(../i/zhtml/ul-cross-red.png); }

.rich-text UL.circle { margin: 1em 0; }

    .rich-text UL.circle LI {
        list-style: outside none;
        background-image: url(../i/zhtml/ul-circle-blue.png);
        background-position: 0 .35em;
        background-repeat: no-repeat;
        padding: 3px 0 3px 30px;
        }

    .rich-text UL.circle.blue LI { background-image: url(../i/zhtml/ul-circle-blue.png); }

.rich-text UL.arrow { margin: 1em 0; }

    .rich-text UL.arrow LI {
        list-style: outside none;
        text-indent: 0 !important;
        background-image: url(../i/zhtml/ul-arrow-blue.png);
        background-position: 0 .35em;
        background-repeat: no-repeat;
        padding: 3px 0 3px 30px;
        }

    .rich-text UL.check.blue LI { background-image: url(../i/zhtml/ul-arrow-blue.png); }

.rich-text OL {
    padding: 0;
    margin: 1.5em 0 1.5em 2em;
    }

    .rich-text OL LI {
        list-style: outside decimal;
        margin: .5em 0;
        }

.rich-text DL {
    padding: 0;
    margin: 1.5em 0;
    }

    .rich-text DL DT {
        font-weight: bold;
        }

    .rich-text DL DD {
        padding: 0;
        margin: .5em 0 .5em 2em;
        }

LI, DL, DD {  text-align: left; }

.rich-text SUB,
.rich-text SUP {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
    }

.rich-text SUP { top: -0.5em; }
.rich-text SUB { bottom: -0.25em; }

.rich-text CODE,
.rich-text PRE {
    font-family: "Courier New", Courier, monospace;
    white-space: pre-wrap;
    margin: 1em 0;
    overflow: auto;
    }

.rich-text BLOCKQUOTE {
    color: #513b12;
    border: 1px solid #aa956e;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: #fbf6ec;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .25);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .25);
    padding: 10px 30px;
    margin: 2em 2em;
    }

    .rich-text BLOCKQUOTE .author {
        font-weight: bold;
        text-align: right;
        }

.rich-text .columns { margin: 2em 0; }

    .rich-text .columns .column { float: left; }

    .rich-text .columns .column.cl-1-2 {
        margin-left: 2.5%;
        width: 48.74%;
        }

    .rich-text .columns .column.cl-1-3 {
        margin-left: 2.5%;
        width: 31.66%;
        }

    .rich-text .columns .column.cl-2-3 {
        margin-left: 2.5%;
        width: 65.82%;
        }

    .rich-text .columns .column.cl-1-4 {
        margin-left: 2.5%;
        width: 23.124%;
        }

    .rich-text .columns .column.cl-3-4 {
        margin-left: 2.5%;
        width: 74.36%;
        }

    .rich-text .columns .column.cl-1-5 {
        margin-left: 2.5%;
        width: 18%;
        }

    .rich-text .columns .column.cl-2-5 {
        margin-left: 2.5%;
        width: 38.49%;
        }

    .rich-text .columns .column.cl-3-5 {
        margin-left: 2.5%;
        width: 59%;
        }

    .rich-text .columns .column.cl-4-5 {
        margin-left: 2.5%;
        width: 79.5%;
        }

    .rich-text .columns .column:first-child { margin-left: 0; }


/* Insertion */


.insertion,
.insertion.center {
    font-size: 90%;
    line-height: 125%;
    }

    .insertion.center {
        margin: .5em 1em;
        }

    .insertion.left {
        margin: .5em 2em .5em 0;
        float: left;
        }

    .insertion.right {
        margin: .5em 0 .5em 2em;
        float: right;
        }

    .insertion.quote {
        border: 1px solid #aa956e;
        background: #fbf6ec;
        padding: 0 1.5em 0;
        margin-bottom: 1em;
        }

    .insertion.rounded {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        }

    .insertion.shadow {
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .25);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .25);
        }

