/* Device screen smaller than design */
@media screen and (max-width: 98em) {
BODY.bg-1 #bg-placeholder {
    background-color: #fff;
    background-image: url(../i/bg-1.jpg);
    background-position: top center;
    background-repeat: repeat-x;
    background-size: auto;
    height: 1020px;
    }
BODY.bg-2 #bg-placeholder {
    background-color: #fff;
    background-image: url(../i/bg-2.jpg);
    background-position: top center;
    background-repeat: repeat-x;
    background-size: auto;
    height: 1020px;
    }
}
/* Device screen smaller than design */
@media screen and (max-width: 1020px) {
H1 BR, H2 BR, H3 BR, H4 BR, H5 BR, H6 BR { display: none; }
#layout {
    margin: 0 10px;
    }
#header H1 { font-size: 36px; }
#header H2 { font-size: 5.5vw !important; line-height: 1.35em; margin: .15em 0; }
#content H1 { font-size: 36px; }
#content H2 { font-size: 30px; }
#content H3 { font-size: 24px; }
#videoplayer {
    width: 90vw;
    height: 51.43vw;
    }
BODY.bg-1 #header .video-notes BR { display: none; }
BODY.bg-1 #content { padding: 10px; margin: 0; }
BODY.bg-2 #header .video-notes BR { display: none; }
BODY.bg-2 #content { padding: 10px; margin: 0; }
.feedback {
    margin: 1.5em 0;
    }
H2.bonus { font-size: 30px !important; }
H2.bonus SPAN I {
    font-size: 16px;
    letter-spacing: 0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 0px 10px !important;
    }
.sound-note {
    font-size: 2.65vw;
    }
.ull-discover {
    font-size: 13px;
    margin: 1em 0;
    width: auto;
    display: block;
    }
.ull-discover .tr { display: block; }
.ull-discover .td {
    border: none;
    background-position: 5px 0px;
    padding: 0 5px 0 35px;
    width: auto;
    display: block;
    }
.mobile-full-width { width: 100% !important; }
.mobile-3of4-width { width: 75% !important; }
.mobile-half-width { width: 50% !important; }
.mobile-1of4-width { width: 25% !important; }
.mobile-hidden { display: none; }
.insertion { margin: 0 !important; }
}
