
/* Device screen smaller than design */
@media screen and (max-width: 1040px) {

H1 BR, H2 BR, H3 BR, H4 BR, H5 BR, H6 BR { display: none; }

#layout { overflow: hidden; }

#header { margin: 0; }
#header .inner {
    margin: 0;
    min-height: auto;
    }

#content {
    margin: 10px;
    }

#stepping { width: 100%; }

.video { width: 100% !important; }
.video IFRAME {
    width: 100% !important;
    }

.insertion {
    text-align: center !important;
    margin: 0 !important;
    float: none !important;
    }
.insertion P { text-align: center; }
.insertion IMG { width: 50%; }

.quotation {
    font-size: 18px;
    padding: 10px;
    margin: 1em -10px;
    }

.bundle IMG { width: 100%; }

.purchase .button BR { display: none; }
.purchase .button I {
    right: -20px;
    bottom: -70px;
    }
.purchase .link BR { display: none; }

.cart .discard {
    margin: 1em 0;
    }

.pricing {
    margin: 1em auto;
    min-width: auto;
    width: 380px;
    }
.pricing TD { font-size: 14px; }
.pricing TD BR { display: none; }
.pricing TD.reg STRIKE { font-size: 20px !important; }
.pricing TD.inv STRIKE { font-size: 20px !important; }
.pricing TD.inv EM { font-size: 24px; }


#footer {
    font-size: 12px;
    }

}

/* Device screen extra small */
@media screen and (max-width: 550px) {

.insertion IMG { width: 90%; }

.pricing { width: 100%; }
.pricing TD { white-space: normal; }

}
