
.desktop-hidden { display: none; }

@media screen and (max-width: 960px) {

#layout { margin: 0; }

#header .logo { margin: 10px 0 10px 10px !important; }
#header .social { margin: 28px 10px 0 0 !important; }
#breadcrumbs { margin: 1em 10px 0; }

#content { margin: 0 10px; }

.columns .columnVisual,
.columns .columnProduct {
    margin: 10px 0;
    width: auto !important;
    float: none;
    }

.columns .columnProduct {
    margin-bottom: 30px;
    }

.columns .columnProduct H4 { font-size: 6vw; }

.pricing {
    font-size: 4vw;
    margin: .5em 0;
    }
.pricing .v B { font-size: 5.5vw; }
.pricing .fee { font-size: 3.75vw; }

.columnProduct .purchase-button .inner {
    font-size: 14px;
    background-position: 4px 4px;
    }

.columns .columnContent {
    margin: 0 0 25px;
    }

.columnProduct .purchase-button I { display: none; }

.breadcrumbs { margin: 1em 10px 0; }


.purchase-holder { margin: 10px; }
.purchase {
    text-align: center;
    display: block;
    }

.purchase .ecover { float: none; }
.purchase .button BR { display: none; }
.purchase .button I {
    right: -20px;
    bottom: -70px;
    }
.purchase .link BR { display: none; }

.costs { margin-top: 0; }

#footer {
    margin: 30px 0 0;
    position: inherit;
    left: auto;
    right: auto;
    bottom: auto;
    }

.mobile-hidden { display: none; }
.desktop-hidden { display: block; }

}

