@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

BODY {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: ##f4f0e4;
    background-image: url(../i/bg.jpg);
    background-size: cover;
    }

H1 {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.15em;
    margin: .5em 0;
    }

.section.default {
    -webkit-border-radius: 16px;
    border-radius: 16px;
    background: rgba(0,0,0,.75);
    margin: 1em auto;
    max-width: 450px;
    }

    .section.default .content {
        color: #fff;
        text-align: center;
        padding: .5em 0;
        margin: 10px;
        max-width: auto;
        overflow: hidden;
        }

.section.footer {
    margin: 2em auto;
    max-width: 450px;
    }

    .section.footer .content {
        color: #eee;
        font-family: Verdana;
        font-size: 12px;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0,0,0,.85);
        margin: 10px !important;
        margin: 0;
        max-width: auto;
        overflow: hidden;
        }

        .section.footer .content A { color: #eee; }
        .section.footer .content A:hover { color: #fff; }

        .section.footer .content P {
            margin: .5em 0;
            }

#optInFormID {}

    #optInFormID .field.text {}

        #optInFormID .field.text LABEL {
            color: #ccc;
            font-size: 15px;
            margin: .5em 0;
            display: block;
            }

        #optInFormID .field.text INPUT[type="text"] {
            font-size: 19px;
            border: 5px solid #fda331;
            -webkit-border-radius: 8px;
            border-radius: 8px;
            padding: .75em 1em;
            }

        #optInFormID .field.submit INPUT[type="submit"] {
            text-indent: -9999px;
            border: none;
            background: url(../i/button-sendmereport.png) top left no-repeat;
            padding: 0;
            width: 221px;
            height: 84px;
            cursor: pointer;
            }

.footnote {
    color: #bbb;
    font-size: 13px;
    margin: 3em 0 !important;
    }


