
@media screen and (max-width: 1000px) {

H1 {
    font-size: 9vw;
    }

.section.default {
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 0;
    }

    .section.default .content {
        margin: 0;
        }









}
