
/* Device screen smaller than design */
@media screen and (max-width: 1040px) {

H1 BR, H2 BR, H3 BR, H4 BR, H5 BR, H6 BR { display: none; }

H1 { font-size: 10vw; }
H2 { font-size: 7vw; }

#layout { overflow: hidden; }

#header { margin: 0; }
#header .inner {
    margin: 0;
    min-height: auto;
    }

#content {
    margin: 10px;
    }

.warning-message {
    margin: 10px;
    }

#stepping { width: 100%; }

.insertion {
    text-align: center !important;
    margin: 0 !important;
    float: none !important;
    }
.insertion P { text-align: center; }
.insertion IMG { width: 50%; }

.purchase .button BR { display: none; }
.purchase .button I {
    right: -40px;
    bottom: -70px;
    }
.purchase .link BR { display: none; }

.cart .discard {
    margin: 1em 0;
    }

#footer {
    font-size: 12px;
    }

.mobile-full-width { width: 100% !important; }
.mobile-half-width { width: 50% !important; }

}

/* Device screen extra small */
@media screen and (max-width: 550px) {

.insertion IMG { width: 90%; }

.pricing { width: 100%; }
.pricing TD { white-space: normal; }

.mobile-full-width { width: 100% !important; }
.mobile-half-width { width: 50% !important; }
.mobile-3of4-width { width: 75% !important; }

}
