
HTML, BODY {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    }

BODY {
    color: #000;
    font-family: "Open Sans", Arial;
    font-size: 17px;
    background: #eee;
    padding: 0;
    margin: 0;
    }

H1 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -.04em;
    line-height: 1.25em;
    text-align: center;
    margin: .75em 0 .5em;
    }

    H1 EM {
        font-style: italic;
        font-weight: normal;
        }

H2 {
    font-size: 34px;
    font-weight: bold;
    letter-spacing: -.02em;
    text-align: center;
    margin: .75em 0 .5em;
    }

H3 {
    color: #000;
    font-family: "Open Sans Condensed", Arial;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.25em;
    margin: 1em 0;
    text-align: left;
    }

A, A:visited {
    color: #0000ee;
    }

/* Header */

#header {
    border-bottom: 1px solid #97b3db;
    background-image: url(../i/header-bg.jpg);
    background-repeat: repeat-x;
    background-size: cover;
    overflow: hidden;
    }

#header.no-deco {
    border: none;
    background: none;
    }

    #header .inner {
        margin: 30px auto 0;
        max-width: 1000px;
        }

/* Content */

#layout {
    border: 1px solid #ccc;
    border-top: 1px solid #fff;
    background: #fff;
    margin: 0 auto;
    max-width: 998px;
    }

#content {
    margin: 25px 50px;
    }

#footer {
    color: #757263;
    font-size: 14px;
    margin: 50px auto;
    max-width: 1000px;
    }

    #footer P {
        text-align: center;
        }

    #footer A {
        color: #9e9560;
        text-decoration: none;
        }

    #footer A:hover {
        text-decoration: underline;
        }


/* Components */

.intro {
    background: none;
    margin: 0 0 40px;
    height: auto !important;
    }

    .intro .order-steps {
        text-align: center;
        margin: 0 10px;
        }

        .intro .order-steps P {
            text-align: center;
            margin: 10px 0 30px;
            }

        .intro .order-steps H4 {
            color: #000;
            font-family: "Open Sans Condensed", Arial;
            font-size: 21px;
            font-weight: bold;
            letter-spacing: -1px;
            line-height: 1em;
            text-align: center;
            border: 3px solid red;
            background: #fff;
            padding: .5em 0;
            margin: 30px 0;
            }

.warning-message {
    color: #000;
    font-family: "Open Sans Condensed", Arial;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1em;
    text-align: center;
    border: 3px solid red;
    background: #fff;
    padding: .5em 0;
    margin: 30px 50px;
    }

.delivery {
    text-align: justify;
    margin: 2em 0 !important;
    }

.action {
    text-align: center;
    margin: 2em 0 !important;
    }

.purchased {}

    .purchased .column:first-child {
        border: 2px solid #36c;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        padding: 0 1em 0 1.5em;
        }

        .purchased .column:first-child UL {
            margin: 0 0 0 1.25em;
            }

        .purchased .column:first-child P {
            margin: 1em 0 0 !important;
            }

.mpurchbox {
    border: 5px solid #bdcff4;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    }

    .mpurchbox .division {
        border-left: 5px solid #bdcff4;;
        padding: .5em 0 1em;
        }

    .mpurchbox .division:first-child {
        border-left: none;
        }

    .mpurchbox .ecover {
        max-height: 200px;
        max-width: 100%;
        }

    .mpurchbox .bundle {
        position: relative;
        }

        .mpurchbox .bundle .seal {
            background-image: url(../i/best-deal-seal.png?v=2);
            background-position: top right;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 15px;
            right: -100px;
            width: 169px;
            height: 165px;
            }

.button {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.35em;
    text-align: center;
    text-decoration: none;
    border-bottom: 4px solid #264c99;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #36c;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.35);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.35);
    padding: .5em 1em;
    display: inline-block;
    }

.button:hover {
    color: #fff;
    background: #4174d9;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,.25);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.25);
    margin: -1px 0 1px;
    }

.button.green {
    border-bottom: 4px solid #1d7b10;
    background: #37b224;
    }

.button.green:hover {
    border-bottom: 4px solid #28901a;
    background: #3fb92c;
    }

.nothnx {
    color: #777;
    font-size: 14px;
    }

.nothnx:hover {
    color: #333;
    }

.animated {
    -webkit-transition: all 333ms ease;
    -moz-transition: all 333ms ease;
    -ms-transition: all 333ms ease;
    -o-transition: all 333ms ease;
    transition: all 333ms ease;
    }






