
/* Device screen smaller than design */
@media screen and (max-width: 960px) {

H1 BR, H2 BR, H3 BR, H4 BR, H5 BR, H6 BR { display: none; }

H1 {
    font-size: 6.5vw;
    margin: 1em 0;
    }

H2 {
    font-size: 5.5vw;
    line-height: 1.25em;
    margin: .75em 0;
    }

H3 { font-size: 6vw; }

#layout { overflow: hidden; }

#header { margin: 0; }
#header .inner {
    margin: 0;
    min-height: auto;
    }

#content {
    margin: 10px;
    }

.warning-message {
    margin: 10px;
    }

#stepping { width: 100%; }

.button {
    font-size: 5vw;
    padding: 2vw 3vw;
    }

.mpurchbox { border: none; }

.mpurchbox .division {
    border: 5px solid #bdcff4;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    margin: .65em 0;
    width: 100% !important;
    }

.mpurchbox .division:first-child {
    border-left: 5px solid #bdcff4;
    }

.mpurchbox .ecover {
    max-height: none;
    max-width: none;
    }

.mpurchbox .bundle .seal {
    top: 30px;
    right: -7vw;
    width: 37vw;
    height: 37vw;
    }

.mpurchbox H2 {
    font-size: 7.5vw;
    line-height: 1.25em;
    margin: .38em 0;
    }

#footer {
    font-size: 12px;
    }

}

