@import url('zhtml.css?v=2');

BODY {}

HEADER {
    border-top: 20px solid #444;
    }

    HEADER SECTION {
        overflow: hidden;
        }

MAIN {}

    MAIN SECTION {}

FOOTER {
    margin-top: 2em;
    overflow: hidden;
    }

    FOOTER SECTION {
        font-family: Arial;
        font-size: 13px;
        text-align: center;
        margin: 3em auto;
        }

        FOOTER SECTION A { color: #9ff; text-decoration: none; }
        FOOTER SECTION A:hover { color: #9ff; text-decoration: underline; }

.insertion LABEL {
    color: #444;
    font-size: 16px;
    font-style: italic;
    letter-spacing: .02em;
    line-height: 1.5em;
    text-align: center;
    margin: 1.25em 0;
    display: block;
    }

.pricing {
    text-align: center;
    margin: 2em 0;
    }

    .pricing STRIKE {
        color: #c00;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: -.02em;
        vertical-align: middle;
        margin-right: .5em;
        }

    .pricing STRONG {
        color: #38761d;
        font-size: 30px;
        font-weight: 900;
        letter-spacing: -.02em;
        vertical-align: middle;
        }

    .pricing SPAN {
        font-weight: bold;
        line-height: 3em;
        display: block;
        }

.purchase {
    line-height: 1.5em;
    text-align: center;
    margin: 3em 0;
    }

    .purchase .button {
        color: #fff;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: .05em;
        text-decoration: none;
        -webkit-border-radius: 3em;
        border-radius: 3em;
        background-color: #eaad3a;
        padding: .5em 1em;

        -webkit-transition: all 150ms ease;
        -moz-transition: all 150ms ease;
        -ms-transition: all 150ms ease;
        -o-transition: all 150ms ease;
        transition: all 150ms ease;
        }

    .purchase .button:hover {
        background-color: #444;

        -webkit-transition: all 150ms ease;
        -moz-transition: all 150ms ease;
        -ms-transition: all 150ms ease;
        -o-transition: all 150ms ease;
        transition: all 150ms ease;
        }

.bonus {}

    .bonus H3 {
        text-align: left;
        }

        .bonus H3 SPAN {
            color: #444;
            font-size: 24px;
            font-weight: bold;
            -webkit-border-radius: 3em;
            border-radius: 3em;
            background-color: #fff;
            padding: .5em 1em;
            }

    .bonus H2 {
        color: #000;
        font-size: 36px;
        margin: 0;
        }

        .bonus H2 SMALL {
            color: #fff;
            }

    .bonus HR {
        border-top: 2px solid #fff;
        margin: 1.5em 0;
        }

.risks {}

    .risks H3 {
        text-align: left;
        }

        .risks H3 SPAN {
            color: #444;
            font-size: 24px;
            font-weight: bold;
            -webkit-border-radius: 3em;
            border-radius: 3em;
            background-color: #fff;
            padding: .5em 1em;
            }

    .risks H2 {
        color: #e00;
        font-size: 36px;
        margin: 0;
        }

    .risks HR {
        border-top: 2px solid #fff;
        margin: 1.5em 0;
        }

/* Carousel */

.slick-prev:before,
.slick-next:before {
    color: #fff !important;
    }

.before-after-container {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #4dbcec;
    overflow: hidden;
    }

UL.before-after {
    margin: 2em auto 3em !important;
    max-width: 720px;
    }

    UL.before-after LI {
        text-align: center !important;
        }

        UL.before-after LI IMG {
            max-width: 720px;
            max-height: 500px;
            display: inline-block;
            }


















