
@media screen and (max-width: 980px) {

BODY {
    font-size: 5vw;
    }

HEADER SECTION,
MAIN SECTION,
FOOTER SECTION {
    margin: 10px;
    }

H1 { font-size: 12vw; }
H2 { font-size: 9vw; }
H3 { font-size: 7vw; }

.insertion LABEL { font-size: 3.75vw; }
.insertion LABEL BR { display: none; }

.purchase .button { font-size: 8vw; }
.purchase IMG { width: 60vw; }

.bonus H3 SPAN { font-size: 6vw; }
.bonus H2 { font-size: 8vw; }


.risks H3 SPAN { font-size: 4vw; }
.risks H2 { font-size: 9vw; }

.before-after-container {
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 0 -10px;
    }

UL.before-after {
    margin: 1em auto 2em !important;
    max-width: 80vw;
    }

UL.before-after LI IMG {
    max-width: 70vw;
    max-height: 60vw;
    }



}
