@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');


HTML, BODY {
    height: 100%;
    }

BODY {
    color: Black;
    font-family: Lato, sans-serif;
    font-size: 20px;
    background: White;
    padding: 0;
    margin: 0;
    }

A { color: #06f; }
A:hover, A:focus { color: #39f; }

BIG { font-size: 115%; line-height: 1.5em; }
SMALL { font-size: 85%; line-height: 1.5em; }

P {
    line-height: 1.5em;
    margin: 1em 0;
    }

I, EM { font-style: italic; }
B, STRONG { font-weight: bold; }

H1 {
    font-size: 54px;
    line-height: 1.15em;
    margin: 1.15em 0 .75em;
    }

H2 {
    font-size: 40px;
    line-height: 1.25em;
    margin: 1.25em 0 .85em;
    }

H3 {
    font-size: 28px;
    line-height: 1.35em;
    margin: 1.35em 0 1em;
    }

H1, H2, H3 {
    font-weight: 300;
    letter-spacing: -.01em;
    text-align: center;
    }

H1 B, H2 B, H3 B { font-weight: 600; }

HR {
    border: none;
    border-top: 1px solid #888;
    margin: 2.5em 0;
    height: 0;
    clear: both;
    overflow: hidden;
    }

UL {
    padding: 0;
    margin: 1.5em 0 1.5em 2em;
    }

    UL LI {
        line-height: 1.5em;
        list-style: outside disc;
        margin: .5em 0;
        }

OL {
    padding: 0;
    margin: 1.5em 0 1.5em 2em;
    }

    OL LI {
        list-style: outside decimal;
        margin: .5em 0;
        }

DL {
    padding: 0;
    margin: 1.5em 0;
    }

    DL DT {
        font-weight: bold;
        }

    DL DD {
        padding: 0;
        margin: .5em 0 .5em 2em;
        }

LI, DL, DD {  text-align: left; }

SUB, SUP {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
    }

SUP { top: -0.5em; }
SUB { bottom: -0.25em; }

CODE, PRE {
    font-family: "Courier New", Courier, monospace;
    white-space: pre-wrap;
    margin: 1em 0;
    overflow: auto;
    }

BLOCKQUOTE {
    color: #513b12;
    border: 1px solid #aa956e;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: #fbf6ec;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .25);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .25);
    padding: 10px 30px;
    margin: 2em 2em;
    }

    BLOCKQUOTE .author {
        font-weight: bold;
        text-align: right;
        }

.hidden-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    }

.marker {
    -webkit-border-radius: .1em;
    border-radius: .1em;
    padding: 0 .1em;
    }

.bg-black { background-color: #000; }
.bg-blue { background-color: #4dbcec; }
.bg-ligngray { background-color: #ddd; }
.bg-red { background-color: #d00; }
.bg-yellow { background-color: #ff0; }
.bg-white { background-color: #fff; }

.cl-black { color: #000; }
.cl-blue { color: #4dbcec; }
.cl-fuschia { color: #f0f; }
.cl-red { color: #e00; }
.cl-gray { color: #666; }
.cl-green { color: #060; }
.cl-white { color: #fff; }

.fs-14 { font-size: 14px; }
.fs-16 { font-size: 16px; }
.fs-18 { font-size: 18px; }
.fs-20 { font-size: 20px; }
.fs-24 { font-size: 24px; }
.fs-30 { font-size: 30px; }
.fs-36 { font-size: 36px; }
.fs-40 { font-size: 40px; }
.fs-48 { font-size: 48px; }
.fs-60 { font-size: 60px; }
.fs-72 { font-size: 72px; }

.fw-norm { font-weight: normal; }

.ta-center { text-align: center !important; }
.ta-justify { text-align: justify !important; }
.ta-left { text-align: left !important; }
.ta-right { text-align: right !important; }

*[align="center"] { text-align: center !important; }
*[align="right"] { text-align: right !important; }

.no-pads { padding: 0; }
.no-side-pads { padding-left: 0; padding-right: 0; }
.no-vert-pads { padding-top: 0; padding-bottom: 0; }
.no-left-pad { padding-left: 0; }
.no-right-pad { padding-right: 0; }

.pad10 { padding: 10px; }
.pad20 { padding: 20px; }
.pad30 { padding: 30px; }
.pad40 { padding: 40px; }

.no-margs { margin: 0; }
.no-side-margs { margin-left: 0; margin-right: 0; }
.no-vert-margs { margin-top: 0; margin-bottom: 0; }
.no-left-marg { margin-left: 0; }
.no-right-marg { margin-right: 0; }

.marg10 { margin: 10px; }
.marg20 { margin: 20px; }
.marg30 { margin: 30px; }
.marg40 { margin: 40px; }

.hide, .hidden { display: none; }
.invisible { visibility: hidden; }

.clearfix:after {
    content:"";
    display:table;
    clear:both;
    }

.clearer {
    width: 100%;
    overflow: hidden;
    }

/* Forms */

INPUT[type="radio"] { cursor: pointer; }
INPUT[type="submit"] { cursor: pointer; }

.clickable { cursor: pointer; }

/* Layout */

HEADER, MAIN, FOOTER { width: 100%; }

    HEADER SECTION, MAIN SECTION, FOOTER SECTION {
        margin-left: auto;
        margin-right: auto;
        max-width: 960px;
        }

    HEADER SECTION:after, MAIN SECTION:after, FOOTER SECTION:after {
        content:"";
        display:table;
        clear:both;
        }

/* Design columns (containers) */

.container {}
.container:after {
    content:"";
    display:table;
    clear:both;
    }

    .container .division { float: left; }

    .container .division.dv-1-2 { width: 50%; }
    .container .division.dv-1-3 { width: 33.33%; }
    .container .division.dv-2-3 { width: 66.66%; }
    .container .division.dv-1-4 { width: 25%; }
    .container .division.dv-3-4 { width: 75%; }
    .container .division.dv-1-5 { width: 20%; }
    .container .division.dv-2-5 { width: 40%; }
    .container .division.dv-3-5 { width: 60%; }
    .container .division.dv-4-5 { width: 80%; }

/* Custom lists */

UL.check { margin: 1.5em 0; }

    UL.check LI {
        list-style: outside none;
        text-indent: 0 !important;
        background-image: url(../i/zhtml/ul-check-green.png);
        background-position: 0 .35em;
        background-repeat: no-repeat;
        padding: 3px 0 3px 30px;
        }

    UL.check.blue LI { background-image: url(../i/zhtml/ul-check-blue.png); }
    UL.check.green LI { background-image: url(../i/zhtml/ul-check-green.png); }
    UL.check.red LI { background-image: url(../i/zhtml/ul-check-red.png); }

UL.cross { margin: 1.5em 0; }

    UL.cross LI {
        list-style: outside none;
        text-indent: 0 !important;
        background-image: url(../i/zhtml/ul-cross-red.png);
        background-position: 0 .35em;
        background-repeat: no-repeat;
        padding: 3px 0 3px 30px;
        }

    UL.cross.gray LI { background-image: url(../i/zhtml/ul-cross-gray.png); }
    UL.cross.pink LI { background-image: url(../i/zhtml/ul-cross-pink.png); }
    UL.cross.red LI { background-image: url(../i/zhtml/ul-cross-red.png); }


/* Content columns */

.columns { margin: 1.5em 0; }

.columns:after {
    content:"";
    display:table;
    clear:both;
    }

    .columns .column { float: left; }

    .columns .column.cl-1-2 {
        margin-left: 2.5%;
        width: 48.74%;
        }

    .columns .column.cl-1-3 {
        margin-left: 2.5%;
        width: 31.66%;
        }

    .columns .column.cl-2-3 {
        margin-left: 2.5%;
        width: 65.82%;
        }

    .columns .column.cl-1-4 {
        margin-left: 2.5%;
        width: 23.124%;
        }

    .columns .column.cl-3-4 {
        margin-left: 2.5%;
        width: 74.36%;
        }

    .columns .column.cl-1-5 {
        margin-left: 2.5%;
        width: 18%;
        }

    .columns .column.cl-2-5 {
        margin-left: 2.5%;
        width: 38.49%;
        }

    .columns .column.cl-3-5 {
        margin-left: 2.5%;
        width: 59%;
        }

    .columns .column.cl-4-5 {
        margin-left: 2.5%;
        width: 79.5%;
        }

    .columns .column:first-child { margin-left: 0; }


/* === INSERTION === */


.insertion {}

    .insertion.center {
        margin: 1.5em auto;
        /* width: 33%; */
        }

    .insertion.left {
        margin: .5em 1.35em .5em 0;
        float: left;
        }

    .insertion.right {
        margin: .5em 0 .5em 1.35em;
        float: right;
        }

    .insertion.quote {
        border: 1px solid #aa956e;
        background: #fbf6ec;
        padding: 0 1.5em 0;
        margin-bottom: 1em;
        }

    .insertion.rounded {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        }

    .insertion.shadow {
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .25);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .25);
        }


/* === MOBILE === */


.desktop-hidden { display: none; }


@media screen and (max-width: 980px) {

H1 BR, H2 BR, H3 BR, H4 BR, H5 BR, H6 BR { display: none; }

.insertion.center,
.insertion.left,
.insertion.right {
    margin: 1em 0;
    float: none;
    }

.mobile-full-width { width: 100% !important; }
.mobile-3of4-width { width: 75% !important; }
.mobile-2of3-width { width: 66% !important; }
.mobile-half-width { width: 50% !important; }
.mobile-1of3-width { width: 33% !important; }
.mobile-1of4-width { width: 25% !important; }
.mobile-90pc-width { width: 90% !important; }
.mobile-95pc-width { width: 95% !important; }
.mobile-hidden { display: none; }

.desktop-hidden { display: block; }

}

@media screen and (min-width: 980px) { .screen-hidden { display: none; } }

@media screen and (max-width: 640px) {

.container { margin: 1em 0; }
.container .division {
    margin: 1em 0 !important;
    width: auto !important;
    float: none;
    }

.rich-text .columns { margin: 1em 0; }
.rich-text .columns .column {
    margin: 1em 0 !important;
    width: auto !important;
    float: none;
    }

}


/*  === PRINT === */

.print-only { display: none; }

@media print {

.print-only { display: block; }
.print-show { display: block; }
.print-hide { display: none; }

a[href]:after { content: " (" attr(href) ")"; }
abbr[title]:after { content: " (" attr(title) ")"; }

}

