

/* Reset Browser Styles */


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,
font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,
tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;
vertical-align:baseline;}h1,h2,h3,h4,h5,h6{font-weight:normal;}:focus{outline:0;}body{line-height:1;color:black;background:white;}
ol,ul{list-style:none;}table{border-collapse:separate;border-spacing:0;}table td{vertical-align:top;}caption,th,td{text-align:left;
font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}


/* Miscellaneous */


.clearfix:after {
    content:"";
    display:table;
    clear:both;
    }

.clickable {
    cursor: pointer;
    cursor: hand;
    }

.hidden { display: none; }

.hidden-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    }

.bg-yellow { background: #ff0; }

.cl-red { color: #c00; }
.cl-blue { color: #039; }
.cl-green { color: #060; }

.fs-14 { font-size: 14px; }
.fs-16 { font-size: 16px; }
.fs-18 { font-size: 18px; }
.fs-20 { font-size: 20px; }
.fs-24 { font-size: 24px; }
.fs-30 { font-size: 30px; }
.fs-36 { font-size: 36px; }
.fs-40 { font-size: 40px; }
.fs-48 { font-size: 48px; }
.fs-60 { font-size: 60px; }
.fs-72 { font-size: 72px; }

.ta-center { text-align: center; }
.ta-justify { text-align: justify; }
.ta-left { text-align: left; }
.ta-right { text-align: right; }

*[align="center"] { text-align: center !important; }


/* Common styles */


H1 { font-size: 300%; }
H2 { font-size: 250%; }
H3 { font-size: 200%; }
H4 { font-size: 175%; }
H5 { font-size: 150%; }
H6 { font-size: 125%; }

H1, H2, H3, H4, H5, H6 {
    line-height: 1.25em;
    margin: .5em 0 .25em;
    }

P {
    line-height: 1.35em;
    margin: .75em 0;
    }

I, EM { font-style: italic; }
B, STRONG { font-weight: bold; }

BIG { font-size: 115%; }
SMALL { font-size: 85%; }


/* Rich-text */


.rich-text UL {
    padding: 0;
    margin: 1.5em 0 1.5em 2em;
    }

    .rich-text UL LI {
        line-height: 1.5em;
        list-style: outside disc;
        margin: .5em 0;
        }

.rich-text UL.check { margin: 1.5em 0; }

    .rich-text UL.check LI {
        list-style: outside none;
        text-indent: 0 !important;
        background-image: url(../i/zhtml/ul-check-green.png);
        background-position: 0 .35em;
        background-repeat: no-repeat;
        padding: 3px 0 3px 30px;
        }

    .rich-text UL.check.blue LI { background-image: url(../i/zhtml/ul-check-blue.png); }
    .rich-text UL.check.green LI { background-image: url(../i/zhtml/ul-check-green.png); }
    .rich-text UL.check.red LI { background-image: url(../i/zhtml/ul-check-red.png); }

.rich-text UL.cross { margin: 1.5em 0; }

    .rich-text UL.cross LI {
        list-style: outside none;
        background-image: url(../i/zhtml/ul-cross-red.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        padding: 3px 0 3px 30px;
        }

    .rich-text UL.cross.gray LI { background-image: url(../i/zhtml/ul-cross-gray.png); }
    .rich-text UL.cross.pink LI { background-image: url(../i/zhtml/ul-cross-pink.png); }
    .rich-text UL.cross.red LI { background-image: url(../i/zhtml/ul-cross-red.png); }

.rich-text OL {
    padding: 0;
    margin: 1.5em 0 1.5em 2em;
    }

    .rich-text OL LI {
        list-style: outside decimal;
        margin: .5em 0;
        }

.rich-text DL {
    padding: 0;
    margin: 1.5em 0;
    }

    .rich-text DL DT {
        font-weight: bold;
        }

    .rich-text DL DD {
        padding: 0;
        margin: .5em 0 .5em 2em;
        }

LI, DL, DD {  text-align: left; }

.rich-text SUB,
.rich-text SUP {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
    }

.rich-text SUP { top: -0.5em; }
.rich-text SUB { bottom: -0.25em; }

.rich-text CODE,
.rich-text PRE {
    font-family: "Courier New", Courier, monospace;
    white-space: pre-wrap;
    margin: 1em 0;
    overflow: auto;
    }

.rich-text BLOCKQUOTE {
    color: #513b12;
    border: 1px solid #aa956e;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: #fbf6ec;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .25);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .25);
    padding: 10px 30px;
    margin: 2em 2em;
    }

    .rich-text BLOCKQUOTE .author {
        font-weight: bold;
        text-align: right;
        }

.rich-text .columns {}

    .rich-text .columns .column { float: left; }

    .rich-text .columns .column.cl-1-2 {
        margin-left: 2.5%;
        width: 48.74%;
        }

    .rich-text .columns .column.cl-1-3 {
        margin-left: 2.5%;
        width: 31.66%;
        }

    .rich-text .columns .column.cl-2-3 {
        margin-left: 2.5%;
        width: 65.82%;
        }

    .rich-text .columns .column.cl-1-4 {
        margin-left: 2.5%;
        width: 23.124%;
        }

    .rich-text .columns .column.cl-3-4 {
        margin-left: 2.5%;
        width: 74.36%;
        }

    .rich-text .columns .column.cl-1-5 {
        margin-left: 2.5%;
        width: 18%;
        }

    .rich-text .columns .column.cl-2-5 {
        margin-left: 2.5%;
        width: 38.49%;
        }

    .rich-text .columns .column.cl-3-5 {
        margin-left: 2.5%;
        width: 59%;
        }

    .rich-text .columns .column.cl-4-5 {
        margin-left: 2.5%;
        width: 79.5%;
        }

    .rich-text .columns .column:first-child { margin-left: 0; }


/* Insertion */


.insertion,
.insertion.center {
    font-size: 90%;
    line-height: 125%;
    }

    .insertion.center {
        margin: .5em 1em;
        }

    .insertion.left {
        margin: .5em 2em .5em 0;
        float: left;
        }

    .insertion.right {
        margin: .5em 0 .5em 2em;
        float: right;
        }

    .insertion.quote {
        border: 1px solid #aa956e;
        background: #fbf6ec;
        padding: 0 1.5em 0;
        margin-bottom: 1em;
        }

    .insertion.rounded {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        }

    .insertion.shadow {
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .25);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .25);
        }



@media screen and (max-width: 960px) {

H1 BR, H2 BR, H3 BR, H4 BR, H5 BR, H6 BR { display: none; }

.insertion {
    text-align: center;
    margin: 0 !important;
    float: none !important;
    }

.mobile-full-width { width: 100% !important; }
.mobile-90pc-width { width: 90% !important; }
.mobile-3of4-width { width: 75% !important; }
.mobile-2of3-width { width: 66% !important; }
.mobile-half-width { width: 50% !important; }
.mobile-1of3-width { width: 33% !important; }
.mobile-1of4-width { width: 25% !important; }
.mobile-hidden { display: none; }

}

@media screen and (max-width: 550px) {

.rich-text .columns {
    margin: 0 !important;
    }
.rich-text .columns .column {
    margin: 0 !important;
    width: auto !important;
    float: none;
    }

}
