
@media screen and (max-width: 1000px) {

H1 {
    font-size: 9vw;
    }

.section.default {
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 3vw auto;
    }

    .section.default .content {
        margin: 0;
        }

.subhd {
    padding: 0 15px;
    }

.subhd BR {
    display: none;
    }







}
