
HTML, BODY {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    }

BODY {
    color: #000;
    font-family: "Open Sans", Arial;
    font-size: 18px;
    background: #eee;
    padding: 0;
    margin: 0;
    }

H1 {
    font-family: "Open Sans Condensed", Arial;
    font-size: 44px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.25em;
    margin: .5em 0;
    text-align: center;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    }

H2 {
    font-family: "Open Sans Condensed", Arial;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1.15em;
    text-align: center;
    text-transform: none;
    margin: 1em 0;
    }

H2.inverted {
    color: #fff;
    font-weight: bold;
    background: #2b2b2b;
    padding: .5em 50px;
    margin: 1em -50px;
    }

H2.inverted.blue {
    background: #0282c7;
    }

H2.inverted.green {
    background: #39b54a;
    }

H3 {
    color: #000;
    font-family: "Open Sans Condensed", Arial;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.25em;
    text-align: center;
    margin: 1em 0;
    }

H4 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.2em;
    margin: 1.5em 0 .75em;
    }

P {
    line-height: 1.5em;
    text-align: justify;
    margin: 1em 0;
    }

P[align="center"] { text-align: center; }

HR {
    border: none;
    border-top: 2px dashed #888;
    margin: 3em 0;
    width: 100%;
    clear: both;
    }

A, A:visited {
    color: #0000ee;
    }

/* Header */

#header {
    border-bottom: 1px solid #97b3db;
    background-image: url(../i/header-bg.jpg);
    background-repeat: repeat-x;
    background-size: cover;
    overflow: hidden;
    }

#header.no-deco {
    border: none;
    background: none;
    }

    #header .inner {
        margin: 30px auto 0;
        max-width: 1000px;
        }

/* Content */

#layout {
    border: 1px solid #ccc;
    border-top: none;
    background: #fff;
    margin: 0 auto;
    max-width: 998px;
    overflow: hidden;
    }

#content {
    margin: 25px 50px;
    }

#footer {
    color: #757263;
    font-size: 14px;
    margin: 50px auto;
    max-width: 1000px;
    }

    #footer P {
        text-align: center;
        }

    #footer A {
        color: #9e9560;
        text-decoration: none;
        }

    #footer A:hover {
        text-decoration: underline;
        }


/* Components */

.intro {
    background: none;
    margin: 0 0 40px;
    height: auto !important;
    }

    .intro .order-steps {
        text-align: center;
        margin: 0 10px;
        }

        .intro .order-steps P {
            text-align: center;
            margin: 10px 0 30px;
            }

        .intro .order-steps H4 {
            color: #000;
            font-family: "Open Sans Condensed", Arial;
            font-size: 21px;
            font-weight: bold;
            letter-spacing: -1px;
            line-height: 1em;
            text-align: center;
            border: 3px solid red;
            background: #fff;
            padding: .5em 0;
            margin: 30px 0;
            }

.warning-message {
    color: #000;
    font-family: "Open Sans Condensed", Arial;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1em;
    text-align: center;
    border: 3px solid red;
    background: #fff;
    padding: .5em 0;
    margin: 30px 50px;
    }

.product {
    border: 1px solid #ddd;
    border-top: 5px solid #e5e5e5;
    background: #f5f5f5;
    padding: 10px 40px 10px;
    margin: 1.5em 0;
    overflow: hidden;
    clear: both;
    }

    .product .insertion.left {
        margin: 1.5em 0 20px -20px !important;
        }

    .product .insertion.right {
        margin: 1.5em -20px 20px 10px !important;
        }

    .product .descr {
        width: 560px;
        float: right;
        }

    .product H4 {
        margin: .75em 0 .35em;
        }

.cart {
    text-align: center;
    margin: 2em 0;
    }

    .cart P { text-align: center; }

    .cart .price {
        color: #38761d;
        font-weight: bold;
        font-size: 40px;
        margin: 0;
        }

        .cart .price STRIKE {
            color: #c00;
            }

.discard {
    color: #888;
    font-size: 13px;
    line-height: 1.5em;
    text-align: justify;
    margin: 2.5em 100px;
    }

.purchase {
    margin: 1.75em 0;
    }

    .purchase .column {
        border: 3px dotted red;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        background: #fff2e7;
        padding: .35em 0;
        width: 430px !important;
        }

    .purchase P.title {
        color: #444;
        font-size: 24px;
        letter-spacing: -0.03em;
        line-height: 1.25em;
        text-align: center;
        margin: .35em 0;
        position: relative;
        }

        .purchase P.title I {
            color: #fff;
            font-size: 14px;
            font-style: normal;
            font-weight: normal;
            letter-spacing: .1em;
            line-height: 1em;
            -webkit-border-radius: .75em;
            border-radius: .75em;
            background: #f00;
            padding: .35em .75em;
            position: absolute;
            top: -2em;
            right: 1.75em;
            }

    .purchase P.price {
        color: #666;
        font-family: "Open Sans Condensed", Arial;
        font-size: 30px;
        letter-spacing: -1px;
        text-align: center;
        margin: .65em 0;
        }

        .purchase P.price B {
            color: #999;
            font-size: 48px;
            }

    .purchase P.note {
        color: #888;
        font-size: 15px;
        font-style: italic;
        text-align: center;
        margin: .35em 0;
        }

    .purchase P.action {
        text-align: center;
        }

    .purchase .button {
        color: #553a05;
        font-family: "Open Sans Condensed", Arial;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: -0.02em;
        line-height: 1.05em;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 1px 0 #fff;
        border: 1px solid #fee9aa;
        border-bottom: 4px solid #b98a37;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background: #febe4d url(../i/purchase-button-bg.png) top repeat-x;
        padding: 15px 15px;
        display: inline-block;
        position: relative;
        cursor: pointer;

        -webkit-transition: all 250ms ease;
        -moz-transition: all 250ms ease;
        -ms-transition: all 250ms ease;
        -o-transition: all 250ms ease;
        transition: all 250ms ease;
        }

    .purchase .button:hover {
        color: #332202;
        -webkit-box-shadow: 0 3px 2px 0 rgba(0,0,0,.25);
        box-shadow: 0 3px 2px 0 rgba(0,0,0,.25);
        margin: -1px 0 1px;

        -webkit-transition: all 250ms ease;
        -moz-transition: all 250ms ease;
        -ms-transition: all 250ms ease;
        -o-transition: all 250ms ease;
        transition: all 250ms ease;
        }

        .purchase .button I {
            background: url(../i/purchase-button-60day-seal.png) top left no-repeat;
            display: block;
            position: absolute;
            right: -60px;
            bottom: -40px;
            width: 88px;
            height: 87px;
            }

        .purchase .button:hover I {
            -webkit-border-radius: 44px;
            border-radius: 44px;
            -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,.25);
            box-shadow: 0 3px 3px 0 rgba(0,0,0,.25);
            }

.quotation {
    color: #fff;
    font-family: "Open Sans", Arial;
    font-size: 23px;
    font-style: italic;
    line-height: 1.75em;
    text-align: center;
    background: #0282c7;
    padding: 1.5em 70px;
    margin: 1.5em -50px;
    }

    .quotation .bg-yellow {
        color: #553a05;
        background: #fed970;
        padding: 0 5px;
        }

.quotation.type-2 {
    color: #fff;
    background: #333;
    }

.pricing {
    margin: 1.5em auto;
    }

    .pricing TD {
        font-size: 18px;
        text-align: center;
        line-height: 1.5em;
        white-space: nowrap;
        padding: 0 10px;
        }
/*
    .pricing TD.reg { width: 50%; }
    .pricing TD.inv { width: 50%; }
*/
        .pricing TD.reg STRIKE {
            color: #c00;
            font-size: 40px;
            font-weight: bold;
            /* line-height: 1.5em; */
            }

        .pricing TD.inv STRIKE {
            color: #888;
            font-size: 40px;
            font-weight: bold;
            }

        .pricing TD.inv EM {
            color: #38761d;
            font-size: 40px;
            font-style: normal;
            font-weight: bold;
            }

        .pricing TD CENTER {
            margin-top: 1em;
            display: block;
            }

.guarantee-seal {
    margin: -30px -30px 10px 20px;
    float: right;
    }

.confirmation INPUT, .confirmation LABEL { cursor: pointer; }

.doctors-photo {
    margin-top: 15px;
    }

.columns.intro {
    margin: 1em -20px;
    overflow: hidden;
    }

.intro .quotation {
    padding: 20px;
    margin: 1.5em 0;
    }

.bonusbox {
    border: 2px dashed #ccc;
    padding: 0 30px 10px;
    margin: 3em 0;
    }


.topbox {
    border: 2px dashed #999;
    padding: 5px 20px;
    }


.costs {
    margin: 1.5em auto;
    }

    .costs TD {
        padding: 5px 10px;
        }
