
/* Device screen smaller than design */
@media screen and (max-width: 1040px) {

H1 BR, H2 BR, H3 BR, H4 BR, H5 BR, H6 BR { display: none; }

#layout { overflow: hidden; }

#header { margin: 0; }
#header .inner {
    margin: 0;
    min-height: auto;
    }

#content {
    margin: 10px;
    }

.warning-message {
    margin: 10px;
    }

#stepping { width: 100%; }

.product { padding: 15px 10px; }
.product .descr {
    margin: 0;
    width: auto;
    float: none;
    }
.product .insertion.left,
.product .insertion.right {
    margin: 0 !important;
    float: none;
    }

.columns.purchase {}
.columns.purchase .column {
    margin: 2em 0 !important;
    width: 100% !important;
    float: none;
    }
.columns.purchase .column .title { font-size: 7.5vw; }
.columns.purchase .column .title B { display: block; }
.columns.purchase .column .title I {
    margin: .75em 0;
    display: inline-block;
    position: static;
    }

.purchase .column { width: auto !important; }
.purchase .button { font-size: 4.5vw; }
/* .purchase .button BR { display: none; } */
.purchase .button I {
    right: -20px;
    bottom: -70px;
    }

.discard {
    font-size: 12px;
    margin: 1.5em 0 3em;
    }

#footer {
    font-size: 12px;
    }

.doctors-photo { margin-top: 0; width: 33% !important; }

.mobile-full-width { width: 100% !important; }
.mobile-half-width { width: 50% !important; }

.columns.intro { margin: 1em 0; }

.column {
    margin: 0 !important;
    float: none !important;
    width: 100% !important;
    }

}

/* Device screen extra small */
@media screen and (max-width: 550px) {

.insertion IMG { width: 75%; }

.pricing { width: 100%; }
.pricing TD { white-space: normal; }

.mobile-full-width { width: 100% !important; }
.mobile-2of3-width { width: 66% !important; }
.mobile-half-width { width: 50% !important; }

}
