
/* Device screen smaller than design */
@media screen and (max-width: 1040px) {

H1 BR, H2 BR, H3 BR, H4 BR, H5 BR, H6 BR { display: none; }

H1 {
    font-size: 8vw;
    margin: 1em 0;
    }

H3 { font-size: 6vw; }

#layout { overflow: hidden; }

#header { margin: 0; }
#header .inner {
    margin: 0;
    min-height: auto;
    }

#content {
    margin: 10px;
    }

.warning-message {
    margin: 10px;
    }

#stepping { width: 100%; }

.button {
    font-size: 5vw;
    padding: 2vw 3vw;
    }

#footer {
    font-size: 12px;
    }

}

