
.desktop-hidden { display: none; }

@media screen and (max-width: 960px) {

#layout { margin: 0; }

#header .logo { margin: 10px 0 10px 10px !important; }
#header .social { margin: 28px 10px 0 0 !important; }

#content { margin: 0 10px !important; }

#promo .tag {
    margin: .5em 20px 1.5em;
    }

.products {}
.products A {
    width: auto !important;
    min-height: auto;
    float: none !important;
    display: block;

    -moz-opacity: 1;
    filter: alpha(opacity=100);
    opacity: 1 !important;
    }
.products A .ecover {
    width: 65%;
    height: auto;
    }

.products A .title { font-size: 6vw; }
.products A .descr { font-size: 4vw; }
.products A .button { font-size: 4vw; }

#footer {
    margin: 30px 0 0;
    position: inherit;
    left: auto;
    right: auto;
    bottom: auto;
    }

.mobile-hidden { display: none; }
.desktop-hidden { display: block; }

}

