@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Raleway');

BODY {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 17px;
    background: #eee;
    }

#header {
    background: #39b54a;
    margin: 0;
    width: 100%;
    overflow: hidden;
    }

    #header .container {
        margin: 0 auto;
        max-width: 1000px;
        }

    #header .logo {
        text-indent: -9999px;
        background: url(../i/head-logo.png) top left no-repeat;
        background-size: 100%;
        margin: 5px 25px 5px 0;
        width: 210px;
        height: 56px;
        float: left;
        }

    #header .social {
        margin: 22px 0 0 25px;
        float: right;
        }

        #header .social .icon {
            margin-left: 12px;
            display: inline-block;

            -webkit-transition: all 350ms ease;
            -moz-transition: all 350ms ease;
            -ms-transition: all 350ms ease;
            -o-transition: all 350ms ease;
            transition: all 350ms ease;
            }

        #header .social .icon:hover {
            -moz-opacity: .75;
            filter: alpha(opacity=75);
            opacity: .75;

            -webkit-transition: all 350ms ease;
            -moz-transition: all 350ms ease;
            -ms-transition: all 350ms ease;
            -o-transition: all 350ms ease;
            transition: all 350ms ease;
            }

        #header .social IMG {
            vertical-align: middle;
            }

.section {
    border: 1px solid #dfdfdf;
    background: #fff;
    margin: 25px auto;
    }

    .section.first {
        border-top: 4px solid #51c13e;
        }

    .section .sheader {
        font-family: 'Raleway', sans-serif;
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 1.25em;
        text-align: center;
        padding: 25px 10px;
        }

    .section .sheader.cond {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 36px;
        }

        .section .sheader SMALL {
            font-family: 'Open Sans', sans-serif;
            font-size: 19px;
            font-weight: normal;
            }

    .section .content {
        margin: 25px 50px;
        }

.section.header {}

.section.default {}

.section.footer {}

H1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 52px;
    font-weight: bold;
    letter-spacing: -.01em;
    line-height: 1.25em;
    text-align: center;
    margin: .25em 0;
    }

H2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -.01em;
    line-height: 1.25em;
    text-align: center;
    margin: .25em 0;
    }

H3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -.01em;
    line-height: 1.25em;
    text-align: center;
    margin: .75em 0 .35em;
    }

.hint {
    text-align: center;
    margin: 1.5em 0;
    }

    .hint SPAN {
        color: #fff;
        font-size: 24px;
        font-style: italic;
        background: #0282c7;
        padding: .5em 1em;
        display: block;
        }

.think-of {
    font-size: 22px;
    margin: 1em 0 !important;
    }

.rich-text .think-of UL.cross { margin: .5em 0; }
.rich-text .think-of UL.cross LI { background-position: 0 .5em; }

UL.choices {
    background-color: #eee;
    padding: .5em 0 0;
    margin: 1.5em 0;
    }

    UL.choices LI {
        list-style: none;
        padding: .5em 2em .5em 5em;
        margin: 0;
        }

        UL.choices LI H6 {
            color: #fff;
            font-size: 30px;
            font-weight: bold;
            line-height: 46px;
            text-align: right;
            background-image: url(../i/choices-h6-bg-v2.png);
            background-position: top left;
            background-repeat: no-repeat;
            background-size: auto;
            padding-right: 36px;
            margin: .15em 0 0 -3.75em;
            width: 97px;
            height: 65px;
            float: left;
            }

    UL.choices LI.final {
        color: #fff;
        background: #da175b url(../i/choices-final-bg.png) bottom center no-repeat;
        padding-bottom: 2.25em;
        }

        UL.choices LI.final H6 {
            background-image: url(../i/choices-h6-bg-v2-bw.png);
            }

.pricing {
    font-size: 23px;
    margin: .5em 0 !important;
    }

    .pricing STRIKE {
        font-family: Arial;
        font-size: 48px;
        }

    .pricing BIG {
        font-family: Arial;
        font-size: 36px;
        font-weight: bold;
        }

.purchase-button {
    color: #fff;
    font-size: 24px;
    line-height: 1.25em;
    text-decoration: none;
    border-bottom: 3px solid #060;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: #390 url(../i/purchase-button-bg.png) top repeat-x;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.35);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.35);
    padding: .75em 1.25em;
    margin: 0;
    display: inline-block;
    }

    .purchase-button:hover {
        color: #fff;
        margin: -1px 0 1px;
        }























