
@media screen and (max-width: 1000px) {

H1 { font-size: 9vw; }
H2 { font-size: 7vw; }
H3 { font-size: 6vw;  }

#header .logo {
    margin: 5px 0 5px 10px;
    width: 50vw;
    height: 13.5vw;
    }

#header .social {
    margin: 16px 10px 0 0;
    }

.section {
    margin: 3px;
    }

.section .content {
    margin: 10px;
    }

.section .sheader { font-size: 6vw; }
.section .sheader BR { display: none; }

.rich-text .columns.think-of .column { margin: 0 !important; }
.rich-text .columns.think-of .column UL { margin: 0 !important; }

UL.choices {}
UL.choices LI {
    padding: 0;
    }
UL.choices H6 {
    margin: 0 10px 0 -.88em !important;
    display: block;
    float: none;
    }
UL.choices LI.final {
    padding: 10px 10px .5em 10px;
    }
UL.choices LI.final .accent { line-height: 1.25em; margin: .5em 0; }
UL.choices LI.final .accent I { display: none; }
UL.choices LI.final H6 { margin: 0 10px 0 -1.25em; }

.purchase-button { font-size: 6vw; }
.purchase-button BR { display: none; }

.insertion.bonus P { text-align: center !important; }
.insertion.bonus P IMG { margin: 1em 20vw 1em 0; }






}
