
.desktop-hidden { display: none; }

@media screen and (max-width: 960px) {

#layout { margin: 0; }

#header { margin: 0; }
#header .logo { margin: 10px 0 10px 10px !important; }
#header .social { margin: 28px 10px 0 0 !important; }
#breadcrumbs { margin: 1em 10px 0; }

#layout { margin: 0; }
#content { margin: 0 10px 30px; }

.sci-data { width: auto; }


#footer {
    margin: 0;
    position: inherit;
    left: auto;
    right: auto;
    bottom: auto;
    }

.mobile-hidden { display: none; }
.desktop-hidden { display: block; }


}

