@import url('https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

HTML {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    }

BODY {
    color: #000;
    font-family: "Open Sans", Arial;
    font-size: 17px;
    border-bottom: 1px solid #345;
    background: #eee;
    min-height: 100%;
    position: relative;
    }

H1 {
    font-family: "Open Sans Condensed", Arial;
    font-size: 48px !important;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1.25em;
    margin: .5em 0 .25em;
    text-align: center;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    }

H2 {
    font-family: "Open Sans Condensed", Arial;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.25em;
    text-align: left;
    text-transform: none;
    margin: .5em 0 .25em;
    }

H3 {
    color: #000;
    font-family: "Open Sans Condensed", Arial;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.35em;
    margin: .75em 0 .35;
    text-align: left;
    }

H4 {
    color: #000;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1;
    line-height: 1.35em;
    margin: 1.5em 0 .75em;
    }

P {
    line-height: 1.5em;
    text-align: justify;
    margin: 1em 0;
    }

P[align="center"] { text-align: center; }

HR {
    border: none;
    border-top: 2px dashed #888;
    margin: 3em 0;
    width: 100%;
    clear: both;
    }

A, A:visited {
    color: #0000ee;
    }

#header {
    background: #232f3e;
    margin: 0 0 20px 0;
    width: 100%;
    overflow: hidden;
    }

    #header .container {
        margin: 0 auto;
        max-width: 1040px;
        }

    #header .logo {
        text-indent: -9999px;
        background: url(../i/head-logo.png) top left no-repeat;
        background-size: 100%;
        margin: 20px 25px 20px 20px;
        width: 210px;
        height: 56px;
        float: left;
        }

    #header .social {
        margin: 38px 25px 38px 25px;
        float: right;
        }

        #header .social .icon {
            margin-left: 12px;
            display: inline-block;

            -webkit-transition: all 350ms ease;
            -moz-transition: all 350ms ease;
            -ms-transition: all 350ms ease;
            -o-transition: all 350ms ease;
            transition: all 350ms ease;
            }

        #header .social .icon:hover {
            -moz-opacity: .75;
            filter: alpha(opacity=75);
            opacity: .75;

            -webkit-transition: all 350ms ease;
            -moz-transition: all 350ms ease;
            -ms-transition: all 350ms ease;
            -o-transition: all 350ms ease;
            transition: all 350ms ease;
            }

        #header .social IMG {
            vertical-align: middle;
            }

#layout {
    border: 1px solid #ccc;
    border-top: 4px solid #232f3e;
    background: #fff top repeat-x;
    margin: 0 auto 330px;
    max-width: 1000px;
    min-height: 200px;
    overflow: hidden;
    }

#content {
    margin: 25px 50px 20px;
    overflow: hidden;
    }

#footer {
    color: #646c76;
    font-size: 13px;
    background: #232f3e;
    overflow: hidden;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    }

    #footer .container {
        margin: 4em auto;
        max-width: 960px;
        }

    #footer A { color: #ccc; text-decoration: none; }
    #footer A:hover { color: #fff; text-decoration: underline; }

    #footer P {
        line-height: 1.5em;
        text-align: center;
        margin: 1.5em 0;
        }

/* Components */

.intro {
    background: none;
    margin: 0 0 40px;
    height: auto !important;
    }

    .intro .order-steps {
        text-align: center;
        margin: 0 10px;
        }

        .intro .order-steps P {
            text-align: center;
            margin: 10px 0 30px;
            }

        .intro .order-steps H4 {
            color: #000;
            font-family: "Open Sans Condensed", Arial;
            font-size: 21px;
            font-weight: bold;
            letter-spacing: -1px;
            line-height: 1em;
            text-align: center;
            border: 3px solid red;
            background: #fff;
            padding: .5em 0;
            margin: 30px 0;
            }

.video {
    margin: 1em 0;
    }

.video.placeholder {
    color: #666;
    text-align: center;
    border: 1px solid #999;
    background: #eee;
    padding: 200px 0;
    margin: 1.5em auto;
    width: 700px;
    }

.cart {
    margin: 2em 0;
    }

    .cart P { text-align: center; }

    .cart .price {
        color: #38761d;
        font-weight: bold;
        font-size: 40px;
        margin: 0;
        }

        .cart .price STRIKE {
            color: #c00;
            }

    .cart .discard {
        color: #888;
        font-size: 13px;
        line-height: 1.5em;
        text-align: justify;
        margin: 2.5em 100px;
        }

.purchase {
    text-align: center;
    margin: 1.75em 0;
    }

    .purchase .button {
        color: #553a05;
        font-family: "Open Sans Condensed", Arial;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: -1px;
        line-height: 1.05em;
        text-decoration: none;
        text-shadow: 0 1px 0 #fff;
        border: 1px solid #fee9aa;
        border-bottom: 4px solid #b98a37;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background: #febe4d url(../i/purchase-button-bg.png) top repeat-x;
        padding: 20px 30px;
        display: inline-block;
        position: relative;
        }

    .purchase .button.small {
        font-size: 24px;
        line-height: 1.1em;
        padding: 10px 20px;
        }

    .purchase .button:hover {
        color: #332202;
        -webkit-box-shadow: 0 3px 2px 0 rgba(0,0,0,.25);
        box-shadow: 0 3px 2px 0 rgba(0,0,0,.25);
        margin: -1px 0 1px;
        }

        .purchase .button I {
            background: url(../i/purchase-button-60day-seal.png) top left no-repeat;
            display: block;
            position: absolute;
            right: -60px;
            bottom: -40px;
            width: 88px;
            height: 87px;
            }

        .purchase .button:hover I {
            -webkit-border-radius: 44px;
            border-radius: 44px;
            -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,.25);
            box-shadow: 0 3px 3px 0 rgba(0,0,0,.25);
            }

    .purchase .accepted {
        margin: 1.5em 0;
        display: block;
        }

    .purchase .link {
        margin: 1.5em 0;
        display: block;
        }

        .purchase .link A {
            font-family: "Open Sans", Arial;
            font-size: 20px;
            }

.quotation {
    color: #fff;
    font-family: "Open Sans", Arial;
    font-size: 23px;
    font-style: italic;
    line-height: 1.75em;
    text-align: center;
    background: #0282c7;
    padding: 1.5em 70px;
    margin: 1.5em -50px;
    }

    .quotation .bg-yellow {
        color: #553a05;
        background: #fed970;
        padding: 0 5px;
        }

.quotation.type-2 {
    color: #fff;
    background: #333;
    }

.pricing {
    margin: 1.5em auto;
    }

    .pricing TD {
        font-size: 18px;
        text-align: center;
        line-height: 1.5em;
        white-space: nowrap;
        padding: 0 10px;
        }
/*
    .pricing TD.reg { width: 50%; }
    .pricing TD.inv { width: 50%; }
*/
        .pricing TD.reg STRIKE {
            color: #888;
            font-size: 40px;
            font-weight: bold;
            /* line-height: 1.5em; */
            }

        .pricing TD.inv STRIKE {
            color: #888;
            font-size: 40px;
            font-weight: bold;
            }

        .pricing TD.inv EM {
            color: #38761d;
            font-size: 40px;
            font-style: normal;
            font-weight: bold;
            }

        .pricing TD CENTER {
            margin-top: 1em;
            display: block;
            }

.guarantee-seal {
    margin: -30px -30px 10px 20px;
    float: right;
    }

.confirmation INPUT, .confirmation LABEL { cursor: pointer; }

.sci-data {
    border-collapse: collapse;
    margin: 2em auto;
    width: 65%;
    }

    .sci-data TD {
        font-size: 80%;
        text-align: center;
        border: 1px solid #777;
        padding: 1em .5em;
        }

.purchase-button {
    color: #fff;
    font-size: 24px;
    line-height: 1.25em;
    text-decoration: none;
    border-bottom: 3px solid #005081;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: #390 url(../i/purchase-button-bg.png) top repeat-x;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.35);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.35);
    padding: .75em 1.25em;
    margin: 0;
    display: inline-block;

    -webkit-transition: all 333ms ease;
    -moz-transition: all 333ms ease;
    -ms-transition: all 333ms ease;
    -o-transition: all 333ms ease;
    transition: all 333ms ease;
    }

    .purchase-button:hover {
        color: #fff;
        -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.25);
        box-shadow: 0 3px 5px 0 rgba(0,0,0,.25);
        margin: -1px 0 1px;

        -webkit-transition: all 333ms ease;
        -moz-transition: all 333ms ease;
        -ms-transition: all 333ms ease;
        -o-transition: all 333ms ease;
        transition: all 333ms ease;
        }
