@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

HTML, BODY { width: 100%; height: 100%; }

BODY {
    color: #000;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 17px;
    background: #fff;
    padding: 0;
    margin: 0;
    position: relative;
    }

.bglayer {
    background: #fff url(../i/bg-3.jpg) top center repeat-x;
    background-size: cover;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    }

H1, H2, H3, H4, H5, H6 { font-family: Oswald; }

HR {
    border-top: 1px dashed #999;
    margin: 1em auto;
    width: 90%;
    }

A, A:visited { color: #06c; }

P {
    line-height: 1.5em;
    margin: 1em 0;
    }

/* Layout */

#layout {
    background: #fff;
    -webkit-border-radius: 0 0 16px 16px;
    border-radius: 0 0 16px 16px;
    margin: 0 auto;
    max-width: 960px;
    overflow: hidden;
    position: relative;
    z-index: 999;
    }

#header {
    text-align: center;
    margin-bottom: 1.5em;
    }

    #header H1 {
        color: #893587;
        font-size: 56px;
        letter-spacing: -2px;
        line-height: 1.25em;
        margin: .5em 0;
        }

    #header H2 {
        font-size: 30px;
        letter-spacing: -1px;
        margin: 1em 0;
        }

#content {
    background: #fff;
    margin: 0 30px 2em;
    }

    #content H1 {
        font-size: 50px;
        letter-spacing: -2px;
        line-height: 1.25em;
        text-align: center;
        margin: .5em 0;
        }

    #content H2 {
        font-size: 36px;
        font-weight: normal;
        letter-spacing: -1px;
        line-height: 1.35em;
        margin: 1em 0;
        }

    #content H3 {
        font-family: Lato, Arial;
        font-size: 26px;
        font-weight: normal;
        letter-spacing: -1px;
        line-height: 1.25em;
        margin: 1em 0;
        }

#footer {
    font-size: 13px;
    text-align: center;
    margin: 1.5em 0;
    }

/* Components */

#top-band {
    background: #d9877c url(../i/top-band-bg.jpg) top left no-repeat;
    min-height: 5px;
    }

#videoplayer {
    width: 840px;
    height: 480px;
    }

.sound-note {
    color: #666;
    font-size: 14px;
    margin-bottom: 12px;
    }

.video-notes {
    color: #666;
    font-size: 13px;
    }

.ull-discover {
    margin: 1.5em auto 0;
    border-collapse: collapse;
    width: 87.5%;
    display: table;
    overflow: hidden;
    }

    .ull-discover .tr { display: table-row; }

    .ull-discover .td {
        text-align: left;
        border: 1px solid #bbb;
        vertical-align: top;
        background: url(../i/check-icon.png) 10px 22px no-repeat;
        padding: .25em 20px .25em 40px;
        width: 50%;
        display: table-cell;
        }

        .ull-discover .td P {
            min-height: 24px;
            }

.purchase {
    text-align: center;
    margin: 1.75em 0;
    }

.purchase.first { margin-top: 0; }

    .purchase .button {
        color: #fff2f2;
        font-family: Arial; /* "Open Sans Condensed" */
        font-size: 40px;
        font-weight: normal;
        letter-spacing: 0px;
        line-height: 1.05em;
        text-decoration: none;
        text-shadow: 0 1px 0 #fff;
        text-transform: uppercase;
        border: 1px solid #fcc;
        border-bottom: 4px solid #9a0000;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: #c00 url(../i/purchase-button-new-bg.png) top repeat-x;
        padding: 24px 30px 20px;
        display: inline-block;
        position: relative;
        }

    .purchase .button:hover {
        color: #fff;
        -webkit-box-shadow: 0 3px 2px 0 rgba(0,0,0,.25);
        box-shadow: 0 3px 2px 0 rgba(0,0,0,.25);
        margin: -1px 0 1px;
        }

    .purchase .accepted {
        margin: 1.5em 0;
        display: block;
        }

    .purchase .link {
        margin: 1.5em 0;
        display: block;
        }

        .purchase .link A {
            font-family: "Open Sans", Arial;
            font-size: 20px;
            font-weight: bold;
            }

.feedback {
    margin: 2em 100px;
    overflow: hidden;
    }

    .feedback LI {
        margin: 1.5em 0;
        width: 100%;
        overflow: hidden;
        }

        .feedback LI.lt IMG {
            margin: 0 50px 20px 0;
            float: left;
            }

        .feedback LI.rt IMG {
            margin: 0 0 20px 50px;
            float: right;
            }

    .feedback LI.item-01 { padding-top: 25px; }
    .feedback LI.item-01 IMG { margin-top: -25px; }
    .feedback LI.item-02 { padding-top: 15px; }
    .feedback LI.item-02 IMG { margin-top: -15px; }
    .feedback LI.item-03 { padding-top: 40px; }
    .feedback LI.item-03 IMG { margin-top: -40px; }
    .feedback LI.item-05 { padding-top: 35px; }
    .feedback LI.item-05 IMG { margin-top: -35px; }

H2.bonus {
    color: #cc3366;
    }

    H2.bonus SPAN {
        color: #000;
        font-size: 24px;
        }

        H2.bonus SPAN I {
            color: #fff;
            font-style: normal;
            letter-spacing: 2px;
            -webkit-border-radius: 200px;
            border-radius: 200px;
            background: #cc3366;
            padding: 5px 25px;
            margin: -5px .5em 0 0;
            display: inline-block;
            float: left;
            }

.cb-info {
    color: #888;
    font-size: 11px;
    text-align: justify;
    margin: 2em 10px;
    }

.ty-preface {
    font-size: 18px;
    text-align: left;
    border: 4px solid #c00;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: url(../i/paper-bg.jpg) center repeat;
    padding: 0 40px 0px;
    margin: 10px;
    overflow: hidden;
    }

    .ty-preface .visual {
        margin: 20px 0;
        }

.video-script {
    text-align: justify;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: #fff;
    padding: 0 40px 20px;
    }

    .video-script .c4 { font-style: italic; }
    .video-script .c7 { font-weight: bold; }

    .c0 { orphans: 2; widows: 2; }
    .c1 { orphans: 2; widows: 2 }
    .c9 { color: inherit; text-decoration: inherit }
    .c10 { orphans: 2; widows: 2 }
    .c4 { font-style: italic }
    .c8 { font-family: "Times New Roman" }
    .c7 { font-weight: 700 }
    .c3 { font-size: 8pt }
    .c6 { color: #1155cc }
    .c5 { text-decoration: underline }
    .c2 { font-size: 9pt }

TABLE.pricing {
    font-size: 18px;
    line-height: 1.35em;
    margin: 2em auto;
    }

    TABLE.pricing TD {
        padding: 5px 10px;
        }

    TABLE.pricing TD.v.red { color: #c00; }

    TABLE.pricing THEAD TD {
        font-size: 22px;
        font-weight: bold;
        }

    TABLE.pricing TFOOT TD {
        color: #666;
        font-size: 13px;
        }


