
/* Device screen smaller than design */
@media screen and (max-width: 1020px) {

BODY {
    background-color: #585858;
    background-image: none;
    }

H1 BR, H2 BR, H3 BR, H4 BR, H5 BR, H6 BR { display: none; }

H1 {
    font-size: 8vw;
    letter-spacing: -1px;
    }

#layout {
    background: url(../i/page-order-bg-mobile.png?v=3) top center no-repeat;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
    max-width: auto;
    transform: scale(1,1);
    min-height: 468vw;
    width: 100%;
    }

#content {
    padding: 5px 10px;
    margin: 100px 10px 10px;
    }

.button-cancel {
    font-size: 15px;
    padding: 5px 10px;
    height: auto;
    }

.mobile-full-width { width: 100% !important; }
.mobile-3of4-width { width: 75% !important; }
.mobile-half-width { width: 50% !important; }
.mobile-1of4-width { width: 25% !important; }

.mobile-hidden { display: none; }

}
