
HTML, BODY {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    }

BODY {
    color: #000;
    font-family: "Open Sans", Arial;
    font-size: 17px;
    background: #eee;
    padding: 0;
    margin: 0;
    }

H1 {
    font-family: "Open Sans Condensed", Arial;
    font-size: 48px !important;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1.25em;
    margin: .75em 0 .5em;
    text-align: center;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    }

H2 {
    font-family: "Open Sans Condensed", Arial;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.15em;
    text-align: left;
    text-transform: none;
    margin: 1.5em 0 .75em;
    }

H3 {
    color: #000;
    font-family: "Open Sans Condensed", Arial;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.25em;
    margin: 1em 0;
    text-align: left;
    }

H4 {
    color: #000;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1;
    line-height: 1.2em;
    margin: 1.5em 0 .75em;
    }

P {
    line-height: 1.5em;
    text-align: justify;
    margin: 1em 0;
    }

P[align="center"] { text-align: center; }

HR {
    border: none;
    border-top: 1px dashed #888;
    margin: 2em 0;
    width: 100%;
    clear: both;
    overflow: hidden;
    }

A, A:visited {
    color: #0000ee;
    }

.clearer {
    width: 100%;
    overflow: hidden;
    }

/* Header */

#header {
    background: #232f3e;
    margin: 0;
    width: 100%;
    overflow: hidden;
    }

    #header .container {
        margin: 0 auto;
        max-width: 1100px;
        }

    #header .logo {
        text-indent: -9999px;
        background: url(../i/head-logo.png) top left no-repeat;
        background-size: 100%;
        margin: 20px 25px 20px 20px;
        width: 210px;
        height: 56px;
        float: left;
        }

    #header .social {
        margin: 38px 25px 38px 25px;
        float: right;
        }

        #header .social .icon {
            margin-left: 12px;
            display: inline-block;

            -webkit-transition: all 350ms ease;
            -moz-transition: all 350ms ease;
            -ms-transition: all 350ms ease;
            -o-transition: all 350ms ease;
            transition: all 350ms ease;
            }

        #header .social .icon:hover {
            -moz-opacity: .75;
            filter: alpha(opacity=75);
            opacity: .75;

            -webkit-transition: all 350ms ease;
            -moz-transition: all 350ms ease;
            -ms-transition: all 350ms ease;
            -o-transition: all 350ms ease;
            transition: all 350ms ease;
            }

        #header .social IMG {
            vertical-align: middle;
            }

#promo {
    background-color: #dedede;
    background-image: url(../i/home-promo-bg.jpg);
    background-position: top left;
    background-size: 150%;
    background-repeat: repeat-x;
    overflow: hidden;
    }

    #promo .inner {
        text-align: center;
        margin: 0 auto;
        max-width: 1200px;
        }

    #promo .logo {
        margin: 3em 0 0;
        width: 200px;
        }

    #promo .tag {
        font-family: Lato, Arial, Helvetica, sans-serif;
        font-size: 50px;
        font-weight: 300;
        margin: .5em 0 1.5em;
        display: block;
        }

#layout {
    border: 1px solid #ccc;
    border-top: none;
    background: #fff top repeat-x;
    margin: 0 auto 0;
    max-width: 1000px;
    min-height: 200px;
    }

#content {
    margin: 0 50px 25px;
    }

#footer {
    color: #757263;
    font-size: 14px;
    margin: 50px auto;
    max-width: 1000px;
    }

    #footer P {
        text-align: center;
        }

    #footer A {
        color: #9e9560;
        text-decoration: none;
        }

    #footer A:hover {
        text-decoration: underline;
        }


/* Components */

.nmenu {
    font-size: 14px;
    border: 1px solid #ccc;
    -webkit-border-radius: 0 8px 0 8px;
    border-radius: 0 8px 0 8px;
    background: #fbfbfb;
    -webkit-box-shadow: 0 3px 9px 0 rgba(0,0,0,.15);
    box-shadow: 0 3px 9px 0 rgba(0,0,0,.15);
    padding: 20px 30px;
    margin: 50px 35px 50px -80px;
    float: left;
    }

    .nmenu H6 {
        color: #444;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -.03em;
        margin: 1.5em 0 .5em;
        }

    .nmenu P {
        margin: .25em 0;
        }

    .nmenu A {
        background-image: url(../i/link-ico.png);
        background-position: .25em .5em;
        background-repeat: no-repeat;
        padding-left: 1em;
        }

.signup {
    border: 1px solid #ccc;
    background: #fafafa;
    padding: 20px 50px;
    margin: 2em 0;
    }

    .signup H2 {
        text-align: center;
        margin: .15em 0;
        }

    .signup .hint {
        text-align: center;
        }

    .signup TABLE {
        margin: 1em auto;
        }

        .signup TABLE TD {
            line-height: 2.75em;
            padding: 10px;
            }

    .signup INPUT[type="text"] {
        font-family: "Open Sans", Arial;
        font-size: 17px;
        vertical-align: middle;
        border: 1px solid #ccc;
        padding: 10px;
        }

    .signup INPUT[type="text"]:focus {
        border: 1px solid #999;
        }

    .signup INPUT[type="submit"] {
        color: #444;
        font-family: "Open Sans", Arial;
        font-size: 17px;
        font-weight: bold;
        letter-spacing: -.02em;
        vertical-align: middle;
        padding: 10px 20px;
        cursor: pointer;
        }

    .signup INPUT[type="submit"]:hover { color: #222; }

