
/* Device screen smaller than design */
@media screen and (max-width: 1040px) {

H1 BR, H2 BR, H3 BR, H4 BR, H5 BR, H6 BR { display: none; }

#layout { overflow: hidden; }

#header { margin: 0; }
#header .inner {
    margin: 0;
    min-height: auto;
    }

#content {
    margin: 10px;
    }

#stepping { width: 100%; }

.insertion {
    text-align: center !important;
    margin: 0 !important;
    float: none !important;
    }
.insertion P { text-align: center; }
.insertion IMG { width: 50%; }

.purchase .button BR { display: none; }
.purchase .button I {
    right: -20px;
    bottom: -70px;
    }
.purchase .link BR { display: none; }

.discard {
    font-size: 12px;
    margin: 1.5em 0 3em;
    }

#footer {
    font-size: 12px;
    }

.mobile-full-width { width: 100% !important; }
.mobile-half-width { width: 50% !important; }

.columns.intro { margin: 1em 0; }

.column {
    margin: 0 !important;
    float: none !important;
    width: 100% !important;
    }

.mobile-visible { display: block !important; }

}

/* Device screen extra small */
@media screen and (max-width: 550px) {

.insertion IMG { width: 75%; }

.pricing { width: 100%; }
.pricing TD { white-space: normal; }

.mobile-full-width { width: 100% !important; }
.mobile-2of3-width { width: 66% !important; }
.mobile-half-width { width: 50% !important; }

}
