@import url('https://fonts.googleapis.com/css?family=Open+Sans');

HTML {
    height: 100%;
    padding: 0;
    margin: 0;
    }

BODY {
    color: Black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: White;
    min-height: 100%;
    position: relative;
    }

A { color: #0066c0; }
A:hover { color: #c45500; }

P { line-height: 22px; }

#layout {}

#header {
    background: #232f3e;
    margin: 0;
    width: 100%;
    overflow: hidden;
    }

    #header .logo {
        text-indent: -9999px;
        background: url(../i/head-logo.png) top left no-repeat;
        background-size: 100%;
        margin: 20px 25px 20px 20px;
        width: 210px;
        height: 56px;
        float: left;
        }

    #header .social {
        margin: 38px 25px 38px 25px;
        float: right;
        }

        #header .social .icon {
            margin-left: 12px;
            display: inline-block;

            -webkit-transition: all 350ms ease;
            -moz-transition: all 350ms ease;
            -ms-transition: all 350ms ease;
            -o-transition: all 350ms ease;
            transition: all 350ms ease;
            }

        #header .social .icon:hover {
            -moz-opacity: .75;
            filter: alpha(opacity=75);
            opacity: .75;

            -webkit-transition: all 350ms ease;
            -moz-transition: all 350ms ease;
            -ms-transition: all 350ms ease;
            -o-transition: all 350ms ease;
            transition: all 350ms ease;
            }

        #header .social IMG {
            vertical-align: middle;
            }

#breadcrumbs {
    color: #767676;
    font-size: 12px;
    margin: 1em 25px 0;
    }

#content {
    margin-bottom: 340px;
    overflow: hidden;
    }

.pre-head {
    color: #b12704;
    font-weight: bold;
    font-style: italic;
    line-height: 1.25em;
    }

H1 {
    font-size: 28px;
    font-weight: normal;
    line-height: 1.3em;
    margin: .5em 0 0;
    }

    H1 .aux {
        color: #999;
        font-size: 14px;
        }

H2 {
    color: #111;
    font-size: 19px;
    font-weight: bold;
    }

.byline {
    color: #111;
    font-size: 13px;
    margin: .1em 0;
    }

.rating {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: .65em;
    margin: 0 0 2em 0;
    }

    .rating IMG {
        vertical-align: middle;
        }

    .byline SMALL,
    .rating SMALL {
        color: #666;
        font-size: 13px;
        vertical-align: middle;
        margin-left: 3px;
        }

.read-more {
    background: url(../i/read-more-arrow.png) left no-repeat;
    padding-left: 12px;
    margin: 0 0 1em;
    display: inline-block;
    }

.read-more.collapsed {
    background: url(../i/read-less-arrow.png) left no-repeat;
    padding-left: 12px;
    }

A.hint {
    color: #888;
    font-size: 75%;
    text-decoration: none;
    }

    A.hint:hover { border-bottom: 1px dotted #888; }

.columns {
    margin: 0 !important;
    }

    .columns .columnVisual {
        -webkit-border-radius: 4px;
        border-radius: 4px;
        margin: 40px 20px 25px;
        width: 260px;
        float: left;
        }

        .columns .columnVisual .main-ecover {}

    .columns .columnContent {
        margin: 0 340px 25px 320px;
        }

    .columns .columnProduct {
        border: 2px solid #69a2d3;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background: #d8e7f0;
        -webkit-box-shadow: 3px 4px 6px 0 rgba(0,0,0,.33);
        box-shadow: 3px 4px 6px 0 rgba(0,0,0,.33);
        margin: 0 25px 20px 0;
        width: 280px;
        float: right;
        }

        .columns .columnProduct H4 {
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            border-bottom: 2px solid #69a2d3;
            background: #78c2f3;
            padding: 8px 0;
            margin: 0;
            }

.pricing {
    font-size: 14px;
    margin: 2em 0 0;
    }

    .pricing TD { padding: 5px 3px; }

    .pricing .k {
        color: #000;
        white-space: nowrap;
        }

        .pricing .k SPAN {
            color: #b12704;
            }

    .pricing .v {
        color: #111;
        }

    .pricing .v.red { color: #bd5150; }

        .pricing .v B {
            color: #b12704;
            font-size: 15px;
            }

    .pricing .fee {
        font-size: 11px;
        line-height: 15px;
        padding: 1.5em 0;
        }

    .pricing .total TD {
        font-size: 24px;
        font-weight: bold;
        }

.price {
    color: #38761d;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    }

    .price STRIKE {
        color: #c00;
        font-size: 36px;
        margin-right: 5px;
        }

.columnProduct .purchase-button {
    border-top: 1px solid #ca7c1b;
    border-left: 1px solid #be751a;
    border-right: 1px solid #be751a;
    border-bottom: 1px solid #a56616;

    -webkit-border-radius: 4px;
    border-radius: 4px;

    background: #f5c589 url(../i/columnProduct-purchase-button-bg.gif) bottom repeat-x;
    margin: 0 5px;
    display: inline-block;
    position: relative;

    -moz-opacity: .90;
    filter: alpha(opacity=90);
    opacity: .90;
    }

    .columnProduct .purchase-button .inner {
        color: #000;
        font-family: Arial;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0px;
        line-height: 1.15em;
        text-align: center;
        text-decoration: none;
        border-top: 1px solid #fbe8d1;

        -webkit-border-radius: 2px;
        border-radius: 2px;

        background: url(../i/columnProduct-purchase-button-icon.png) 3px 3px no-repeat;
        padding: 9px 30px 9px 30px;
        min-width: 150px;
        display: inline-block;
        }

.columnProduct .purchase-button:hover {
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    opacity: 1;
    }

.columnProduct .purchase-hint {
    color: #83868e;
    font-size: 12px;
    margin: 0 !important;
    display: block;
    }

.checkmarks {
    list-style: none;
    margin: 1.5em 0 !important;
    }

    .checkmarks LI {
        line-height: 35px !important;
        list-style: outside disc !important;
        vertical-align: middle;
        background: url(../i/checkmark.png) left no-repeat;
        padding: 0 0 0 42px;
        margin: 5px 20px 5px 0 !important;
        display: inline-block;
        }

.purchase-holder {
    text-align: center;
    margin: 2em 0;
    }

.purchase {
    text-align: center;
    display: inline-block;
    }

    .purchase .ecover {
        margin: 0 30px 0 0;
        float: left;
        width: 190px;
        }

    .purchase .button {
        color: #553a05;
        font-family: "Open Sans Condensed", Arial;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 1.15em;
        text-decoration: none;
        text-shadow: 0 1px 0 #fff;
        border: 1px solid #fee9aa;
        border-bottom: 4px solid #b98a37;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background: #febe4d url(../i/purchase-button-bg.png) top repeat-x;
        padding: 10px 25px;
        display: inline-block;
        }

    .purchase .button.small {
        font-size: 24px;
        line-height: 1.1em;
        padding: 10px 20px;
        }

    .purchase .button:hover {
        color: #332202;
        -webkit-box-shadow: 0 3px 2px 0 rgba(0,0,0,.25);
        box-shadow: 0 3px 2px 0 rgba(0,0,0,.25);
        margin: -1px 0 1px;
        }

        .purchase .button I {
            background: url(../i/purchase-button-60day-seal.png) top left no-repeat;
            display: block;
            position: absolute;
            right: -60px;
            bottom: -40px;
            width: 88px;
            height: 87px;
            }

        .purchase .button:hover I {
            -webkit-border-radius: 44px;
            border-radius: 44px;
            -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,.25);
            box-shadow: 0 3px 3px 0 rgba(0,0,0,.25);
            }

    .purchase .accepted {
        margin: 1.5em 0;
        display: block;
        }

    .purchase .link {
        margin: 1.5em 0;
        display: block;
        }

        .purchase .link A {
            font-family: "Open Sans", Arial;
            font-size: 20px;
            }

.costs {
    font-size: 120%;
    margin: 1.5em auto;
    }

    .costs TD {
        padding: 5px 10px;
        }

#footer {
    color: #646c76;
    font-size: 13px;
    background: #232f3e;
    overflow: hidden;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    }

    #footer .container {
        margin: 4em auto;
        max-width: 960px;
        }

    #footer A { color: #ccc; text-decoration: none; }
    #footer A:hover { color: #fff; text-decoration: underline; }

    #footer P {
        line-height: 1.5em;
        text-align: center;
        margin: 1.5em 0;
        }

